name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        filename: 'things.alfredworkflow'
        exclusions: '*.git* *.github*'
    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: 'things.alfredworkflow'
        token: ${{ secrets.GITHUB_TOKEN }}
